<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="content-language" content="en"/>

    <title>{{ title }} - {{ subtitle }}</title>

    <!-- https://stackoverflow.com/questions/18510347/dynamically-load-stylesheets -->
    <script>
    function changeStyle(style)
    {
        var styles = document.createElement('link');
        styles.type="text/css";
        styles.rel="stylesheet";
        if (style !== "{{ style }}") {
            styles.href = style;
        } else {
            styles.href = "./css/basalt/basalt-bedrock.css";
        }
        
        document.head.appendChild(styles);
    }

    changeStyle("{{ style }}");
    </script>

</head>
<body id="html-body">
    <div id="skrollr-body">
        <a name="page-top"></a>
        <div id="container-wrap-wrap">
            <div id="container-wrap">
                <div id="container">
                    <div id="header">
                        <h1><a href="/"><span>{{ subtitle }}</span></a></h1>
                        <h2><span></span></h2>
                    </div>
                    <div id="content-wrap">
                        <div id="side-bar">
                            Your side bar
                        </div>
                        <div id="main-content">
                            <div id="page-title">
                                Blog
                            </div>
                            <div id="page-content">
                                {{ content }}
                            </div>
                            
                        </div>
                    </div>
                    <div id="extrac-div-1"><span></span></div>
                    <div id="extrac-div-2"><span></span></div>
                    <div id="extrac-div-3"><span></span></div>
                    <div id="footer"><a href="https://github.com/SCPru/RuFoundation" target="_blank">This page is used from RuFoundation engine (which is licensed under MIT License)</a></div>
                    <div id="license-area" class="license-area">
                        <p>&copy; {{ current_year }} Lorem Ipsum</p>.
                    </div>
                </div>
            </div>
            <div id="extra-div-1"><span></span></div>
            <div id="extra-div-2"><span></span></div>
            <div id="extra-div-3"><span></span></div>
            <div id="extra-div-4"><span></span></div>
            <div id="extra-div-5"><span></span></div>
            <div id="extra-div-6"><span></span></div>
        </div>
    </div>
    <div id="dummy-ondomready-block" style="display: none"></div>
</body>
</html>